
<div class="footer">
  <div class="row footer-text">
    <div class="col-sm-12 footer-text">
      <p class="footer-p">We welcome all your thoughts, feelings and suggestions
         Just drop us a mail : <a href="mailto:harshvardhan.mec18@iitbhu.ac.in"><i class="far fa-envelope"></i></a>
      </p>

    </div>

    <div class="col-sm-12 footer-text">

    </div>

  </div>
  <div class="row footer-text">
    <div class="col-sm-12 footer-text">
      <span class="footer-p"><a href="https://www.facebook.com/profile.php?id=100026002803901"><i class="fab fa-facebook-f nav-icons"></i></a> <a href="https://www.instagram.com/harsh_dn/"><i class="fab fa-instagram nav-icons"></i></a> <a href="https://www.linkedin.com/in/harsh-vardhan-552838171/"><i class="fab fa-linkedin nav-icons"></i></a>  <i class="fas fa-search nav-icons"></i>
    </div>
    <div class="col-sm-12 footer-text copyright">
      <p class="footer-p">Copyright © 2021  Harsh</p>
    </div>
  </div>
</div>
</body>
</html>
