<%- include('partials/header') %>

<div class="submit">
  <div class="submit-header">
    <h4>ABOUT</h4>
  </div>
  <hr>

  <div class="submit-form">
    <div class="privacy-left">
      <p>there are thoughts and deeds that you might not be able to reveal to anyone, although sometimes you
         feel like your mind might explode or your chest might burst if you don’t. what if you could make your
         own confessions without revealing your identity?
         <br><br>

        imagine yourself in a room, alone. you take a piece of paper and you start writing your deepest fears,
         your wildest fantasies, your craziest memories. no one to judge, no one physically there to criticize,
          just you and your confessions.
          <br><br>

       what if you could say out loud what you’ve been keeping inside? what if you could say the whole truth and
        nothing but the truth? what if you could make your confessions to total strangers without having to fear
         their reactions? would you take the leap?
         <br><br>

      an area that is your personal, anonymous, everyday diary. a place that is fully dedicated to your confessions,
       whether good or bad, shameful or embarrassing. just say it out loud.
       <br><br>

       this is what the website is all about. a place to simply let it out…<br><br>


     </p>
     <div class="about-reach">
       <h4>Reach us at</h4>
     </div>
     <div class="col-sm-12 footer-text">
       <span class="footer-p"><a href="https://www.facebook.com/profile.php?id=100026002803901"><i class="fab fa-facebook-f about-icon"></i></a>
                              <a href="https://www.instagram.com/harsh_dn/"><i class="fab fa-instagram about-icon"></i></a>
                            <a href="https://www.linkedin.com/in/harsh-vardhan-552838171/"><i class="fab fa-linkedin about-icon"></i></a>
                             <a href="https://github.com/harsh-dn"><i class="fab fa-github about-icon"></i></a></span>
     </div>
    </div>
  </div>

</div>

<%- include('partials/footer') %>
