<%- include('partials/header') %>

<div class="submit">
  <div class="submit-header">
    <h4>PRIVACY POLICY</h4>
  </div>
  <hr>

  <div class="submit-form">
    <div class="privacy-left">
      <p>Privacy is the ability of an individual or group to seclude themselves or information about themselves and thereby
         reveal themselves selectively. The boundaries and content of what is considered private differ among cultures and
         individuals, but share basic common themes. Privacy is sometimes related to anonymity, the wish to remain unnoticed
          or unidentified in the public realm. When something is private to a person, it usually means there is something within
           them that is considered inherently special or personally sensitive. The degree to which private information is exposed
            therefore depends on how the public will receive this information, which differs between places and over time.
             Privacy can be seen as an aspect of security — one in which trade-offs between the interests of one group and
              another can become particularly clear.
              <br>
              <br>

       The right against unsanctioned invasion of privacy by the government, corporations or individuals is part of many
        countries’ privacy laws, and in some cases, constitutions. In some countries individual privacy may conflict with
         freedom of speech laws and some laws may require public disclosure of information which would be considered private
          in other countries and cultures.
          <br>
          <br>

       source: <a class="wikipedia" href="https://en.wikipedia.org/wiki/Privacy_policy">Wikipedia</a>
       <br>
       <br>

       Your email is safe. Never will your personal information be shared whatsoever with anyone.
       <br>
       <br>

      In case you’re not on facebook or twitter to receive some quick updates that are sent every now and then, your emails
      will NEVER be shared with anyone! The only information which may be used and shared is the country you’re confessing
      from ( Ex: statistical purposes ). The country can be retrieved using your computer’s IP Address.
    <br><br></p>
    </div>
  </div>

</div>

<%- include('partials/footer') %>
