<%- include('partials/header') %>

<div class="row type-list-secrets">
  <div class="col-sm-12 col-md-6 col-lg-2">
    <a class="type-links" href="/dream"><img src="https://simplyconfess.com/wp-content/themes/list-mag-wp-child/img/icons/a-dream.png" alt="" class="icon-image"> Dream</a>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-2">
    <a class="type-links" href="/fantasy"><img src="https://simplyconfess.com/wp-content/themes/list-mag-wp-child/img/icons/a-fantasy.png" alt="" class="icon-image">Fantasy</a>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-2">
    <a class="type-links" href="/guilt"><img src="https://simplyconfess.com/wp-content/themes/list-mag-wp-child/img/icons/a-guilt.png" alt="" class="icon-image">Guilt</a>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-2">
    <a class="type-links" href="/lie"><img src="https://simplyconfess.com/wp-content/themes/list-mag-wp-child/img/icons/a-lie.png" alt="" class="icon-image">Lie</a>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-2">
    <a class="type-links" href="/truth"><img src="https://simplyconfess.com/wp-content/themes/list-mag-wp-child/img/icons/a-truth.png" alt="" class="icon-image">Truth</a>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-2">
    <a class="type-links" href="/experience"><img src="https://simplyconfess.com/wp-content/themes/list-mag-wp-child/img/icons/a-wild-experience.png" alt="" class="icon-image">Experience</a>
  </div>
</div>


<div class="row"> 
    <div class="row type-list">
      <%  userWithSecrets.forEach(function(user){ %>
      <%  user.ofString.forEach(function(string){ %>
      <div class="col-sm-3 type-list">
        <div class="card card-1 bg-light mb-3" style="">
          <% const word = ["A Dream","A Fantasy","A Guilt","A Lie","A Truth","A Wild Experience","Others"] %>
          <% const index = Math.floor(Math.random()*7) %>
          <%  console.log(word[index]); %>
          <div class="card-header"><%= word[index] %></div>
          <div class="card-body">
            <p class="card-text"><%= string %></p>
          </div>
        </div>
      </div>
      <%  }) %>
      <%  }) %>
    </div>
</div>

<hr>

<div class="row type-feel">
  <div class="col-sm-12 col-lg-3">
  </div>
  <div class="col-sm-12 col-lg-3">
    <a class="btn btn-light btn-sm footer-button" href="/logout" role="button">Log Out <i class="fas fa-sign-out-alt"></i></a>
  </div>
  <div class="col-sm-12 col-lg-3">
    <a class="btn btn-light btn-sm footer-button" href="/submit" role="button">Submit a Conssion <i class="far fa-thumbs-up"></i></a>
  </div>
  <div class="col-sm-12 col-lg-3">
  </div>
</div>

<%- include('partials/footer') %>
